.quote-container {
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  font-size: 30px;
  overflow: scroll;
  height: 100vh;
}

.quote-author {
  font-weight: bolder;
  font-size: 30px;
}

.message {
  background-color: #fff;
  color: black;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

h2 {
  color: black;
}

@media screen and (min-width: 600px) {
  .quote-container {
    overflow: hidden;
  }
}
