body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  background-color: #2196f3;
  width: 300px;
}

.grid-container > div {
  background-color: rgba(205, 209, 228);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  cursor: default;
}

.grid-container > div:nth-child(4n + 5) {
  background-color: orange;
}

.item-seventeen {
  grid-column-start: 1;
  grid-column-end: 3;
}

.item-eighteen {
  grid-column-start: 3;
  grid-column-end: 4;
}

.input-number-container {
  grid-column-start: 1;
  grid-column-end: 5;
}

.input-number {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
}
